.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

input {
  border:  none;
}